<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <title>{{title}}</title>
    </head>

    <body>
        <nav>
            <a href="/post_form">
                make new post
            </a> |
            <a href="/blog">
                view blog
            </a>
        </nav>
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
            <hr/>
        {% endwith %}

        {% block content %}
        {% endblock %}


    </body>
</html>
